.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    position: relative;
    right: 0px;
    position: absolute;
    bottom: 628px;
    width: 1430px;
    
    
}
.navbar h1{
    color: white;
    position: relative ;
   left: 10px;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;

}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li :hover{
    color: honeydew;
}
.box{
    position: relative;
    top: 200px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    padding: 50px;
    width: 220px;
    height: 456px;
    border: 3px double black;
    
    
}
#Product img{
    position: relative;
    bottom: 50px;
    position: relative;
    right: 50px;
    height: 250px;
}
#Product h1{
    position: relative;
    bottom: 50px;
    right: 30px;
}
#Product p{
    position: relative;
    bottom: 50px;
    position: relative;
    right: 30px;

}
#Product{
    text-align: center;
}
.box :hover{
    background-color: black;
    color: white;
}
#About{
    margin-top: 200px;
    padding: 20px;
} 
#Contact{
    text-align: center;
    background-color: black;
    color: aliceblue;
}





